#####
#WEB#
#####

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

#####
#TEX#
#####

*.asy
*.dvi
*.eps
*.toc
*.out
*.synctex.gz
*.xwm
*.log
*.aux
*.fdb_latexmk
*.fls
*.pre
*.synctex
*.synctex(busy)

# hopefully asy diagrams are limited to 2 digit and no pdfs have weird filenames
*-?.pdf
*-??.pdf

# uh idk why id need this but ok
*.prob
*.sol
*.hint
*.solu

# die latexindent
__latexindent_temp.tex