@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
}

ul li {
  list-style-type: "\2192";
  padding-left: 8px;
}

ul {
  list-style-position: outside;
  padding-left: 10px;
}
