@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  blockquote {
    @apply border-l-4 pl-3 ml-2 border-gray-300;
  }
  ol {
    @apply list-decimal space-y-2;
  }
  ol li {
    @apply space-y-2;
  }
  [role="doc-noteref"] {
    @apply pl-0.5;
  }
  [role="doc-backlink"] {
    @apply pl-1.5;
  }
}

[role="doc-noteref"] sup::before {
  content: "[";
}

[role="doc-noteref"] sup::after {
  content: "]";
}

ol {
  list-style-position: outside;
  padding-left: 12px;
}

ol li {
  padding-left: 6px;
}

ul li {
  list-style-type: "➤";
  padding-left: 8px;
}

ul {
  list-style-position: outside;
  padding-left: 10px;
}
